* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 2px 2px 2px gray;
}

nav .second .navlinks a {
  margin-right: 15px;
  text-decoration: none;
  color: firebrick;
}

nav .second .navlinks a:hover {
  text-decoration: underline;
}

.logo {
  height: 70px;
  width: 70px;
}

nav .third .icon-container i {
  font-size: 20px;
  color: black;
}

nav .third .icon-container i:hover {
  color: tomato;
}

main {
  display: flex;
}

main .left {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

main .right {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

main .left h1 span {
  color: firebrick;
}

main .left h2 span {
  color: firebrick;
}

main .right .right-container img{
    height: 270px;
    width: 350px;
}
